<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glucose Analyst</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/echarts.js"></script>
</head>

<body background="/static/forest.jpg"
      style="background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
    opacity: 70%;
    height: 600px;">
    <header>
        <h1 font-size=40px>Glucose Analyst: Type Ⅰ diabetes analysis based on clinical data </h1>
        <ul class="NAV">
            <li id="Main" class="NAV"><a href="/glucose_analyst">Home</a></li>
            <li class="NAV"><a href="/glucose_analyst/about">About</a></li>
            <li class="NAV"><a href="/glucose_analyst/demo" rel="index">Demo</a></li>
        </ul>
    </header>


    <main>
        <article id="box" style="width: 600px;height:500px;margin-left:400px; background-color: #d6d6d6 ">
            <form method="post">
                <p class="txt">Average glucose </p>
                <b>Dataset:</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
                    <input type="checkbox" name="dataset" value="Aleppo2017" checked="checked" ><b>Aleppo2017</b><br>
                <div class="align">
                    <input type="checkbox" name="dataset" value="Anderson2016" checked="checked" ><b>Anderson2016</b><br>
                    <input type="checkbox" name="dataset" value="Buckingham2007" checked="checked" ><b>Buckingham2007</b><br>
                    <input type="checkbox" name="dataset" value="Chase2005" checked="checked" ><b>Chase2005</b><br>
                    <input type="checkbox" name="dataset" value="Tamborlane2008" checked="checked" ><b>Tamborlane2008</b><br>
                    <input type="checkbox" name="dataset" value="Tsalikian2005" checked="checked" ><b>Tsalikian2005</b><br>
                    <input type="checkbox" name="dataset" value="Weinstock2016" checked="checked" ><b>Weinstock2016</b><br>
                </div>
                <b>Interval:</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&thinsp;&thinsp;&thinsp;
                    <input type="text" name="interval" value="5m" ><br>
                <b>Cycle:</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&thinsp;&thinsp;
                    <input type="text" name="cycle" value="1d"><br>
                <div class="align"><input type="submit" value="submit" class = "button small yellow"></div>

            </form>
            {%  for message in get_flashed_messages() %}
                {{message}}}
            {% endfor %}
            <br>
            <div align="center" class="txt">Description<br> <textarea class="dp" >This query shows the average glucose level for all participants in the selected datasets. Input integers followed by m, h or d(m for minutes, h for hours and d for days).</textarea>
        </div>
        </article>



    </main>





    <footer>
        <div font-size=8px>Copyright: This website app is built for academic research purpose only. The background
            image is a free photo downloaded from www.pexels.com.. The ownership of the photo is retained by the author Brady Knoll.  </div>
    </footer>

    </body>
</html>