<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glucose Analyst</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/echarts.js"></script>
</head>

<body background="/static/forest.jpg"
      style="background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
    opacity: 70%;
    height: 600px;">
    <header>
        <h1 font-size=40px>Glucose Analyst: Type Ⅰ diabetes analysis based on clinical data </h1>
        <ul class="NAV">
            <li id="Main" class="NAV"><a href="/glucose_analyst">Home</a></li>
            <li class="NAV"><a href="/glucose_analyst/about">About</a></li>
            <li class="NAV"><a href="/glucose_analyst/demo" rel="index">Demo</a></li>
        </ul>
    </header>


    <main>
        <article id="box" style="width: 600px;height:500px;margin-left:400px; background-color: #d6d6d6 ">
            <form method="post">
                <p class="txt">Effect of knowing pre meal insulin intake on glucose level</p>
                <table>
                    <tr>
                        <td><b>Dataset:</b></td>
                        <td><div class="gd"><input type="checkbox" name="dataset" value="Aleppo2017" checked="checked"><b>Aleppo2017</b><br></div></td>
                    </tr>
                    <tr>
                        <td><b>Group Divider:</b></td>
                        <td><div class="gd"><input type="text" name="group" value="2 3"><br></div> </td>
                    </tr>
                    <tr>
                        <td><b>Interval:</b></td>
                        <td><div class="gd"><input type="text" name="interval" value="30m"><br></div> </td>
                    </tr>
                    <tr>
                        <td><b>Cycle:</b></td>
                        <td><div class="gd"><input type="text" name="cycle" value="1d"><br></div></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><br><div class="gd"><input type="submit" value="submit" class="button yellow small"></div></td>
                    </tr>
                </table>
            </form>
            {%  for message in get_flashed_messages() %}
                {{message}}}
            {% endfor %}
            <br>
            <div align="center" class="txt">Description<br> <textarea class="dp" >This query shows the average glucose level(mg/dL) of different types of participants.Participants are separated by the degree of understanding that how many insulin should they inject before meal to cover the carbohydrates intake. 1:Very bad 2:Bad 3: Not good 4:Normal 5: Good. Input integers followed by m, h or d(m for minutes, h for hours and d for days).Enter integers 1-5 to divider to see aggregate effect of different groups. For example, 2 means 1-2 as one group and 3,4,5 as one group.</textarea>
        </div>
        </article>
    </main>





    <footer>
        <div font-size=8px>Copyright: This website app is built for academic research purpose only. The background
            image is a free photo downloaded from www.pexels.com.. The ownership of the photo is retained by the author Brady Knoll.  </div>
    </footer>

    </body>
</html>