
.NAV:first-child{
    list-style-type:none;
    padding-left:925px;
    font-family: sans-serif;
    }

li:last-child.NAV{
    word-spacing: 5px;
    font-family: sans-serif;
    }

.NAV{
    font-size: 25px;
    word-spacing: 60px;
    font-family: sans-serif;
    }

.NAV li
    {
    display:inline;
    }

h1{
    font-family: sans-serif;
    color: grey;
    }

.NAV a:link{
    color: grey;
    text-decoration: none;
    }

.NAV a:visited{
    color: grey;
    text-decoration: none;
    }

.NAV a:hover{
    color: #FFFFFF;
    text-decoration: none;
}




.button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;

  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover{
  background-color: #eee;
  color: #555;
}

.button:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button.small{
  padding: 4px 12px;
}

.button.yellow{
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}


.button.yellow{
  background-color: #c1c444;
  border-color: #c1c444;
}

.button.yellow:hover{
  background-color: #c1c444;
}

.button.yellow:active{
  background: #c1c444;
}




footer{
    height: 35px;
    font-weight:bold;
    font-style:italic;
    font-family: sans-serif;
    position: fixed;
    bottom: 5px;
    }


input{
        background: wheat;
        border: 0px;
    }

input{caret-color: #3b3ebc;}
input::-webkit-input-placeholder {color: #0ec47e;}
input{color:black;}




p.txt,span.txt,div.txt{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    }


input:hover{
  background-color: #eee;
  color: #555;
}

input:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

input.small{
  padding: 4px 12px;
}

div.align{
     padding-left:180px;
}

div.max{
    padding-left: 130px;
}

div.ex{
    padding-left: 120px;
}

div.one{
    padding-left: 170px;
}

div.gd{
    padding-left: 120px;
}






.dp{
    width: 500px;
    height: 80px;
    font-family: Sans-Serif;
}

#intro{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}