<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glucose Analyst</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/echarts.js"></script>
</head>

<body background="/static/forest.jpg"
      style="background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
    opacity: 70%;
    height: 600px;">
    <header>
        <h1 font-size=40px>Glucose Analyst: Type Ⅰ diabetes analysis based on clinical data </h1>
        <ul class="NAV">
            <li id="Main" class="NAV"><a href="/glucose_analyst">Home</a></li>
            <li class="NAV"><a href="/glucose_analyst/about">About</a></li>
            <li class="NAV"><a href="/glucose_analyst/demo" rel="index">Demo</a></li>
        </ul>
    </header>

    <main>

        <article id="box" style="width: 600px;height:500px;margin-left:400px; background-color: #d6d6d6 ">
            <div id="intro" align="center">About</div>
            <div align="center">
            <textarea style="width: 520px; height: 420px; font-family:sans-serif; font-size: 20px; color: black">Sugar diabetes has become an epidemic chronic disease nowadays.  However, given the majority patients suffer from Type two diabetes, the medical study and data analysis for type one diabetes(T1D) are not adequate as that of type two.
&#10;Hence, the data mining and data analysis in this project would focus on T1D only. Clinical data used in this project are collected from 8 different public datasets. The project aims to summarize the characteristics of type one patients and figure out potential factors that affect their glucose levels. &#10;&#10;Hopefully, the recommendation combined with graphs could be helpful for patients and for further research study.</textarea>
            </div>
        </article>
    </main>

    <footer>
        <div font-size=8px>Copyright: This website app is built for academic research purpose only. The background
            image is a free photo downloaded from www.pexels.com. The ownership of the photo is retained by the author Brady Knoll.</div>
    </footer>

</body>


</html>