<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glucose Analyst</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/echarts.js"></script>
</head>

<body background="/static/forest.jpg"
      style="background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
    opacity: 70%;
    height: 600px;">
    <header>
        <h1 font-size=40px>Glucose Analyst: Type Ⅰ diabetes analysis based on clinical data </h1>
        <ul class="NAV">
            <li id="Main" class="NAV"><a href="/glucose_analyst">Home</a></li>
            <li class="NAV"><a href="/glucose_analyst/about">About</a></li>
            <li class="NAV"><a href="/glucose_analyst/demo" rel="index">Demo</a></li>
        </ul>
    </header>

    <main>


        <span id="graph" d="{{data}}" title="{{title}}" style="display:none" ></span>
        <article id="box" style="width: 600px;height:500px;margin-left:400px; background-color: bisque ">
        </article>


        <script type="text/javascript">
            var js_data = document.getElementById('graph').getAttribute('d');
            var obj=eval("("+js_data+")")["data"];
            var min_value=eval("("+js_data+")")["min_value"];
            var title=document.getElementById('graph').getAttribute('title');
            var series = [];
            var keys = [];
            var time = [];
            var idx = 0;
            var low_gl=[];
            var high_gl=[];
            var color = ['#00ff00', '#0000ff', '#d48265', '#91c7ae','#749f83',  '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3'];

            for (var key in obj) {
                keys.push(key);
                var value = [];
                if (time.length == 0) {
                    for (var timestamp in obj[key]) {
                        low_gl.push(70);
                        high_gl.push(126);
                        time.push(timestamp);
                    }
                }
                for (var timestamp in obj[key]) {
                    value.push(obj[key][timestamp]);
                }
                series.push({
                    name: key,
                    type: 'line',
                    data: value,
                    itemStyle: {
                        normal: {
                            color: color[idx],
                            lineStyle:{
                                color: color[idx],
                            }
                        }
                    }
                });
                idx += 1;
            }
            series.push({
                name: 'low glucose threshold',
                type: 'line',
                data: low_gl,
                itemStyle: {
                    normal: {
                        color: "green",
                    },
                }
            });
            keys.push('low glucose threshold');
            series.push({
                name: 'high glucose threshold',
                type: 'line',
                data: high_gl,
                itemStyle: {
                    normal: {
                        color: "red",
                    },
                }
            });
            keys.push('high glucose threshold');

            var myChart = echarts.init(document.getElementById("box"));

            var option = {
                title: {
                    text: title
                },
                tooltip : {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#617c85'
                        }
                    }
                },
                legend: {
                    x: 'right',
                    y: 'bottom',
                    data: keys
                },
                xAxis: {
                    type: 'category',
                    data: time ,//true data for x:time
                    boundaryGap: false,
                    axisLine:{
                        lineStyle:{
                            color:'#053b4c'
                        }
                    },
                },
                yAxis: {
                    min: min_value
                },
                series: series
            };

            myChart.setOption(option);
        </script>




    </main>
</body>

