[common]
dataset=Aleppo2017

[gl]
basedate=2015.5.22
filename=Protocol_H/Data Tables/HDeviceCGM.txt
column=RecID|ParentHDeviceUploadsID|PtID|SiteID|DeviceDtTmDaysFromEnroll|DeviceTm|DexInternalDtTmDaysFromEnroll|DexInternalTm|RecordType|GlucoseValue
select_column=|device_id|patient_id||date|timestamp||||gl
pattern=&Y-&M-&D &h:&m:&s
file_type=txt

[sleep_query]
filename=Protocol_H/Data Tables/HQuestDiabTech.txt
column=RecID|PtID|SiteID|Visit|WorryHighBGNow|WorryHighBGChg|LowBGEffortNow|LowBGEffortChg|LowBGSleepNow|LowBGSleepChg|FeelDiffNow|FeelDiffChg|DiabTimeNow|DiabTimeChg|EatBGNow|EatBGChg|DiabEffortNow|DiabEffortChg|LTHealthNow|LTHealthChg|DayLowBGNow|DayLowBGChg|HighBGNow|HighBGChg|FingStkPainNow|FindStkPainChg|PumpInjPainNow|PumpInjPainChg|FamWorryNow|FamWorryChg|TroubleSleepNow|TroubleSleepChg|StrictMealNow|StrictMealChg|WorkSchNow|WorkSchChg|SportExerNow|SportExerChg|InsAmtNow|InsAmtChg|KeepUpPeersNow|KeepUpPeersChg|BGReactNow|BGReactChg|DiabQuestNow|DiabQuestChg|DiabRespNow|DiabRespChg|PreMealInsNow|PreMealInsChg|SkipMealInsNow|SkipMealInsChg|AlarmReactNow|AlarmReactChg|InsSickDayNow|InsSickDayChg|DeviceRunLifeNow|DeviceRunLifeChg|ExerInsAmtNow|ExerInsAmtChg|SeveralDeviceNow|SeveralDeviceChg|LookDiffNow|LookDiffChg|QuestNotDone
select_column=|patient_id||visit_type|WorryHighBGNow|WorryHighBGChg|LowBGEffortNow|LowBGEffortChg|LowBGSleepNow|LowBGSleepChg|FeelDiffNow|FeelDiffChg|DiabTimeNow|DiabTimeChg|EatBGNow|EatBGChg|DiabEffortNow|DiabEffortChg|LTHealthNow|LTHealthChg|DayLowBGNow|DayLowBGChg|HighBGNow|HighBGChg|FingStkPainNow|FindStkPainChg|PumpInjPainNow|PumpInjPainChg|FamWorryNow|FamWorryChg|trouble_sleep|TroubleSleepChg|StrictMealNow|StrictMealChg|WorkSchNow|WorkSchChg|SportExerNow|SportExerChg|InsAmtNow|InsAmtChg|KeepUpPeersNow|KeepUpPeersChg|BGReactNow|BGReactChg|DiabQuestNow|DiabQuestChg|DiabRespNow|DiabRespChg|PreMealInsNow|PreMealInsChg|SkipMealInsNow|SkipMealInsChg|AlarmReactNow|AlarmReactChg|InsSickDayNow|InsSickDayChg|DeviceRunLifeNow|DeviceRunLifeChg|ExerInsAmtNow|ExerInsAmtChg|SeveralDeviceNow|SeveralDeviceChg|LookDiffNow|LookDiffChg|QuestNotDone
pattern=&Y-&M-&D &h:&m:&s
file_type=txt

[screening]
filename=Protocol_H/Data Tables/HScreening.txt
column=RecID|PtID|SiteID|EligCritMet|ExclCritAbsent|Gender|Ethnicity|Race|DiagAge|DiagAgeApprox|SHMostRec|SHNumLast12Mon|DKAMostRec|DKANumLast12Mon|OthGlucLowerMed|Fingerstick7DayAve|EduLevel|EduLevelUnk|EduLevelNoAns|AnnualInc|AnnualIncUnk|AnnualIncNoAns|InsPrivate|InsMedicare|InsMediGap|InsMedicaid|InsSCHIP|InsMilitary|InsIndian|InsState|InsOtherGov|InsSingleService|InsNoCoverage|InsUnknown|InsNoAns|Weight|Height|PEAbnormal|CGMUseStatus|CGMUseDuration|CGMUseDevice|CGMDLoadMinDays|CGMGlucUnder60
select_column=|patient_id||EligCritMet|ExclCritAbsent|gender|Ethnicity|race|diag_age|DiagAgeApprox|SHMostRec|SHNumLast12Mon|DKAMostRec|DKANumLast12Mon|OthGlucLowerMed|Fingerstick7DayAve|EduLevel|EduLevelUnk|EduLevelNoAns|AnnualInc|AnnualIncUnk|AnnualIncNoAns|InsPrivate|InsMedicare|InsMediGap|InsMedicaid|InsSCHIP|InsMilitary|InsIndian|InsState|InsOtherGov|InsSingleService|InsNoCoverage|InsUnknown|InsNoAns|Weight|Height|PEAbnormal|CGMUseStatus|CGMUseDuration|CGMUseDevice|CGMDLoadMinDays|CGMGlucUnder60
pattern=&Y-&M-&D &h:&m:&s
file_type=txt
