[common]
dataset=Buckingham2007

[gl]
filename=DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/001_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/002_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/003_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/006_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/007_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/008_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/009_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/010_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/011_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/012_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/013_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/014_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/015_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/016_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/017_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/018_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/019_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/020_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/021_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/022_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/023_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/025_Blinded.csv
         DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/030_Blinded.csv
column=ID|Date|Time|ReadingDtTm|SensorGlucose|Signal|Temp|Freestyle|LabGlucose|QCLabGlucose|Event|Meal|Snack|Exercise|CHO|Prot|Fat|LyingSens|Basal|Bolus|BolusDuration
select_column=patient_id|||datetime|gl|gl_raw|temperature||gl_lab|gl_qc_lab||meal|snack|exercise|cho|protein|fat||insulin_rate|insulin_bolus|insulin_duration
pattern=&M/&D/&Y &h:&m:&s
file_type=csv

[patient_info]
filename=DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/OneMinuteData/Baseline Demographics.xls
column=ID|Age|Height (cm)|Weight (kg)|Gender|BMI|Duration of Diabetes (years)|Duration of Pump Use|HbA1C|Type of Insulin|Date of last bolus prior to CRC admission|Amount of last bolus prior to CRC admission
select_column=patient_id|age|height|weight|gender|BMI|diabetes_duration|pump_duration|HbA1C|insulin_type|last_bolus_date|last_bolus_amount
pattern=&Y/&M/&D &h:&m:&s
file_type=xls

[enrollment]
filename=DirecNetNavigatorPilotStudy/DirecNetNavigatorPilotStudy/DataTables/tblFEnrollment.csv
column=PtID|RecID|VisitDt|EligVer|Gender|Ethnicity|Race|RaceDs|OnsetDt|NPH|Lente|UltraLente|Lantus|Novolog|Humalog|Regular|InsOth|InsOthDs|DShot|FLenPumpUse|PumpType|InsCarbB|InsCarbBNotUsed|InsCarbL|InsCarbLNotUsed|InsCarbD|InsCarbDNotUsed|InsCarbBS|InsCarbBSNotUsed|UsualInsDoseB|UsualInsDoseL|UsualInsDoseD|UsualInsDoseS|UsualInsDoseBS|AvgCorFactmgdl|AvgCorFactAbmgdl|AvgCorFactNotUsed|NumSevHypo|PriorCGMUse|CGMS|GWB|CGMOther|CGMOtherDs|EduCareGvr1|EduCareGvr1a|OthCareGvr|EduCareGvr2|EduCareGvr2a|PEExamDt|Weight|Height|HbA1CDt|HbA1C
select_column=patient_id||date|EligVer|gender|Ethnicity|race|RaceDs|OnsetDt|NPH|Lente|UltraLente|Lantus|Novolog|Humalog|Regular|InsOth|InsOthDs|DShot|FLenPumpUse|PumpType|breakfast_ratio|InsCarbBNotUsed|lunch_ratio|InsCarbLNotUsed|dinner_ratio|InsCarbDNotUsed|InsCarbBS|InsCarbBSNotUsed|daily_insulin_b|daily_insulin_l|daily_insulin_d|daily_insulin_s|daily_insulin_bs|AvgCorFactmgdl|AvgCorFactAbmgdl|AvgCorFactNotUsed|NumSevHypo|PriorCGMUse|CGMS|GWB|CGMOther|CGMOtherDs|EduCareGvr1|EduCareGvr1a|OthCareGvr|EduCareGvr2|EduCareGvr2a|PEExamDt|weight|Height|HbA1CDt|HbA1C
pattern=&Y-&M-&D &h:&m:&s
file_type=csv
