[common]
dataset=Chase2005

[gl]
filename=DirecNetOupatientRandomizedClinicalTrial/DirecNetOupatientRandomizedClinicalTrial/DataTables/tblCDataCGMS.csv
column=RecID|PtID|ReadingDt|ReadingTm|MeterBG|SensorGLU
select_column=|patient_id|date|timestamp||gl
pattern=&Y-&M-&D &h:&m meridiem
file_type=csv

[enrollment]
filename=DirecNetOupatientRandomizedClinicalTrial/DirecNetOupatientRandomizedClinicalTrial/DataTables/tblCEnrollment.csv
column=RecID|PtID|Gender|Ethnicity|Race|RaceDs|OnsetDt|Type1Dm|numSeiz|PrMUse|CGMS|GWB|MUOth|MUOthDs|InsDur1Yr|IRoute|DInsulin|DShot|NPH|Lente|UltraLente|Glargine|Novolog|Humalog|Regular|InsOth|InsOthDs|InsStable|DayMeds|MedAllergy|OMedCond|MedDisorder|EduCareGvr1|EduCareGvr1a|OthCareGvr|EduCareGvr2|EduCareGvr2a|BGLvls|BGLvlsOftn|BGLvlsRcd|BGLvlsRcdOthDs|EligVer|ExamDt|Weight|Height|PEAbn|SkinAbn|PubicH|BreGen|HbA1CDt|HbA1C|SkinAssess
select_column=|patient_id|gender|Ethnicity|race|RaceDs|OnsetDt|Type1Dm|numSeiz|PrMUse|CGMS|GWB|MUOth|MUOthDs|InsDur1Yr|IRoute|daily_insulin|DShot|NPH|Lente|UltraLente|Glargine|Novolog|Humalog|Regular|InsOth|InsOthDs|InsStable|DayMeds|MedAllergy|OMedCond|MedDisorder|EduCareGvr1|EduCareGvr1a|OthCareGvr|EduCareGvr2|EduCareGvr2a|BGLvls|BGLvlsOftn|BGLvlsRcd|BGLvlsRcdOthDs|EligVer|ExamDt|weight|Height|PEAbn|SkinAbn|PubicH|BreGen|HbA1CDt|HbA1C|SkinAssess
pattern=&Y-&M-&D &h:&m meridiem
file_type=csv

[insulin_log]
filename=DirecNetOupatientRandomizedClinicalTrial/DirecNetOupatientRandomizedClinicalTrial/DataTables/tblCInsulinLog.csv
column=RecID|PtID|InsLogCompDt|InsLogCompVisit|IRoute|InsTypeShortReg|InsTypeShortHum|InsTypeShortNov|InsCarbB|InsCarbBNotUsed|InsCarbL|InsCarbLNotUsed|InsCarbD|InsCarbDNotUsed|UsualInsDoseB|UsualInsDoseL|UsualInsDoseD|UsualInsDoseS|AvgCorFactmgdl|AvgCorFactUnit|AvgCorFactNotUsed|AvgInsNum|T12AM|T1230AM|T01AM|T0130AM|T02AM|T0230AM|T03AM|T0330AM|T04AM|T0430AM|T05AM|T0530AM|T06AM|T0630AM|T07AM|T0730AM|T08AM|T0830AM|T09AM|T0930AM|T10AM|T1030AM|T11AM|T1130AM|T12PM|T1230PM|T01PM|T0130PM|T02PM|T0230PM|T03PM|T0330PM|T04PM|T0430PM|T05PM|T0530PM|T06PM|T0630PM|T07PM|T0730PM|T08PM|T0830PM|T09PM|T0930PM|T10PM|T1030PM|T11PM|T1130PM|RecChgDMManage|RecChgMealIns|RecChgIns|RecChgAlg|RecChgRatio|RecChgTxHypo|RecChgNight|RecChgFat|RecChgGlycemic|RecCounseling|RecChgExer|RecChgOther
select_column=|patient_id|InsLogCompDt|InsLogCompVisit|IRoute|InsTypeShortReg|InsTypeShortHum|InsTypeShortNov|breakfast_ratio|InsCarbBNotUsed|lunch_ratio|InsCarbLNotUsed|dinner_ratio|InsCarbDNotUsed|UsualInsDoseB|UsualInsDoseL|UsualInsDoseD|UsualInsDoseS|AvgCorFactmgdl|AvgCorFactUnit|AvgCorFactNotUsed|AvgInsNum|T12AM|T1230AM|T01AM|T0130AM|T02AM|T0230AM|T03AM|T0330AM|T04AM|T0430AM|T05AM|T0530AM|T06AM|T0630AM|T07AM|T0730AM|T08AM|T0830AM|T09AM|T0930AM|T10AM|T1030AM|T11AM|T1130AM|T12PM|T1230PM|T01PM|T0130PM|T02PM|T0230PM|T03PM|T0330PM|T04PM|T0430PM|T05PM|T0530PM|T06PM|T0630PM|T07PM|T0730PM|T08PM|T0830PM|T09PM|T0930PM|T10PM|T1030PM|T11PM|T1130PM|RecChgDMManage|RecChgMealIns|RecChgIns|RecChgAlg|RecChgRatio|RecChgTxHypo|RecChgNight|RecChgFat|RecChgGlycemic|RecCounseling|RecChgExer|RecChgOther
pattern=&Y-&M-&D &h:&m meridiem
file_type=csv
