[common]
dataset=D1NAMO

[gl]
filename=D1NAMO/diabetes_subset/001/glucose.csv
         D1NAMO/diabetes_subset/002/glucose.csv
         D1NAMO/diabetes_subset/003/glucose.csv
         D1NAMO/diabetes_subset/004/glucose.csv
         D1NAMO/diabetes_subset/005/glucose.csv
         D1NAMO/diabetes_subset/006/glucose.csv
         D1NAMO/diabetes_subset/007/glucose.csv
         D1NAMO/diabetes_subset/008/glucose.csv
         D1NAMO/diabetes_subset/009/glucose.csv
column=date|time|glucose|type|comments
select_column=date|timestamp|raw_gl|Type|Comments
pattern=&Y-&M-&D &h:&m:&s
file_type=csv

[insulin]
filename=D1NAMO/diabetes_subset/001/insulin.csv
         D1NAMO/diabetes_subset/002/insulin.csv
         D1NAMO/diabetes_subset/003/insulin.csv
         D1NAMO/diabetes_subset/004/insulin.csv
         D1NAMO/diabetes_subset/005/insulin.csv
         D1NAMO/diabetes_subset/006/insulin.csv
         D1NAMO/diabetes_subset/007/insulin.csv
         D1NAMO/diabetes_subset/008/insulin.csv
         D1NAMO/diabetes_subset/009/insulin.csv
column=date|time|fast_insulin|slow_insulin|comment
select_column=date|timestamp|fast_insulin|slow_insulin|Comments
pattern=&Y-&M-&D &h:&m:&s
file_type=csv
