[get_time_vs_gl]
all_dataset=Aleppo2017
            Anderson2016
            Buckingham2007
            Chase2005
            Tamborlane2008
            Tsalikian2005
            Weinstock2016

[get_time_vs_exercise_gl]
all_dataset=Tsalikian2005

[get_insulin_time_vs_gl]
all_dataset=Anderson2016

[get_meal_vs_gl]
all_dataset=Buckingham2007

[get_snack_vs_gl]
all_dataset=Buckingham2007

[get_exercise_vs_gl]
all_dataset=Buckingham2007

[get_strict_meal_vs_gl]
all_dataset=Aleppo2017

[get_pre_meal_vs_gl]
all_dataset=Aleppo2017

[get_trouble_sleep_vs_gl]
all_dataset=Aleppo2017
            Tamborlane2008

[get_gender]
all_dataset=Aleppo2017
            Anderson2016
            Buckingham2007
            Chase2005
            Tamborlane2008
            Tsalikian2005
            Weinstock2016

[get_race]
all_dataset=Aleppo2017
            Anderson2016
            Buckingham2007
            Chase2005
            Tamborlane2008
            Tsalikian2005
            Weinstock2016

[get_diag_age]
all_dataset=Aleppo2017
            Anderson2016

[get_breakfast_ratio]
all_dataset=Buckingham2007
            Chase2005

[get_lunch_ratio]
all_dataset=Buckingham2007
            Chase2005

[get_dinner_ratio]
all_dataset=Buckingham2007
            Chase2005

[get_low_gl]
all_dataset=Anderson2016
            Weinstock2016

[get_bld_pr_sys]
all_dataset=Tamborlane2008

[get_bld_pr_dia]
all_dataset=Tamborlane2008

[get_fast_insulin_time_vs_gl]
all_dataset=D1NAMO

[get_weight]
all_dataset=Anderson2016
            Buckingham2007
            Chase2005
            Tsalikian2005
            Weinstock2016

[get_daily_insulin]
all_dataset=Anderson2016
            Buckingham2007
            Chase2005
            Tsalikian2005
            Weinstock2016
            D1NAMO

[get_weight_vs_gl]
all_dataset=Anderson2016
            Buckingham2007
            Chase2005
            Tsalikian2005
            Weinstock2016

[get_weight_vs_daily_insulin]
all_dataset=Anderson2016
            Buckingham2007
            Chase2005
            Tsalikian2005
            Weinstock2016

[get_insulin_method_vs_gl]
all_dataset=Weinstock2016
