[common]
dataset=Tamborlane2008

[gl]
filename=RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Blind_Baseline.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Blind_ControlGroup.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_ControlGroup_1.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_ControlGroup_2.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_ControlGroup_3.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_ControlGroup_4.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_ControlGroup_5.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_1.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_2.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_3.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_4.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_5.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_6.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_7.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_8.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_9.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_10.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_11.csv
	     RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblADataRTCGM_Unblinded_RTCGMGroup_12.csv
column=RecID|PtID|DeviceDtTm|Glucose
select_column=|patient_id|datetime|gl
pattern=&Y-&M-&D &h:&m:&s
file_type=csv

[sleep_query]
filename=RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblASurveyPedsQLS.csv
column=RecID|Visit|PtID|QuestNotDone|SProbFeelScared|SSad|SProbFeelAngry|STrbSleep|SWryHappen|SGetAlong|SNoFriends|STeased|SCannotDo|SKeepUp|SPayAttn|SForget|SSchWork|SSchMsNotWell|SSchMsDr|SNeedlesPain|SEmbarrassed|SArgue|SCarePlan|SHrdBGTests|SHrdInslnShots|SHrdExerc|SHrdTrkCarbs|SHrdWearBrclet|SHrdFstActCarb|SHrdSnacks|SWorrGoLow|SWorrMedTrt|SWorrLongTermCompl
select_column=|visit_type|patient_id|QuestNotDone|SProbFeelScared|SSad|SProbFeelAngry|trouble_sleep_inverse|SWryHappen|SGetAlong|SNoFriends|STeased|SCannotDo|SKeepUp|SPayAttn|SForget|SSchWork|SSchMsNotWell|SSchMsDr|SNeedlesPain|SEmbarrassed|SArgue|SCarePlan|SHrdBGTests|SHrdInslnShots|SHrdExerc|SHrdTrkCarbs|SHrdWearBrclet|SHrdFstActCarb|SHrdSnacks|SWorrGoLow|SWorrMedTrt|SWorrLongTermCompl
pattern=&Y-&M-&D &h:&m:&s
file_type=csv

[summary]
filename=RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblAPtSummary.csv
column=RecID|PtID|Gender|AgeAsOfRandDt|Race|Ethnicity|Height|Weight|DurDiabetes|InsulinModality|NumSevHypo|HGMReadAvg|EduCareGvrP|EduCareGvrPEdu|RandDt|TxGroup
select_column=|patient_id|gender|AgeAsOfRandDt|race|Ethnicity|Height|Weight|DurDiabetes|InsulinModality|NumSevHypo|HGMReadAvg|EduCareGvrP|EduCareGvrPEdu|RandDt|TxGroup
pattern=&Y-&M-&D &h:&m:&s
file_type=csv

[blood_pressure]
filename=RT_CGM_Randomized_Clinical_Trial/RT-CGM Randomized Clinical Trial/DataTables/tblAAddlCEData.csv
column=RecID|Visit|PtID|HxSmoke|Angiotensin|Aspirin|LaserTx|Neuropathy|BldPrSys|BldPrDia|BldPrNA|TotalChol|TotalCholNA|HDLChol|HDLCholNA|LDLChol|LDLCholNA|QuestNotDone
select_column=|Visit|patient_id|HxSmoke|Angiotensin|Aspirin|LaserTx|Neuropathy|bld_pr_sys|bld_pr_dia|BldPrNA|TotalChol|TotalCholNA|HDLChol|HDLCholNA|LDLChol|LDLCholNA|QuestNotDone
pattern=&Y-&M-&D &h:&m:&s
file_type=csv
