[common]
dataset=Tsalikian2005

[gl]
filename=DirecNetInPtExercise/DirecNetInPtExercise/DataTables/tblDDataCGMS.csv
column=RecID|PtID|ReadingDt|ReadingTm|MeterBG|SensorGLU
select_column=|patient_id|date|timestamp||gl
pattern=&Y-&M-&D &h:&m meridiem
file_type=csv

[enrollment]
filename=DirecNetInPtExercise/DirecNetInPtExercise/DataTables/tblDEnrollment.csv
column=RecID|PtID|VisitDt|Gender|Ethnicity|Race|RaceDs|OnsetDt|Type1Dm|InsDur1Yr|IRoute|DInsulin|DShot|NPH|Lente|UltraLente|Lantus|Novolog|Humalog|Regular|InsOth|InsOthDs|InsStable|MedAllergy|MedAllergyDs|OMedCond|OMedCondDs|EligVer|EduCareGvr1|EduCareGvr1a|OthCareGvr|EduCareGvr2|EduCareGvr2a|PEExamDt|Weight|Height|BMI|BMIPerc|PEAbn|PEAbnDs|PubicH|BreGen|HbA1CDt|HbA1C|SymHypoEx|TotLongAct|InsBedtime
select_column=|patient_id|date|gender|Ethnicity|race|RaceDs|OnsetDt|Type1Dm|InsDur1Yr|IRoute|daily_insulin|DShot|NPH|Lente|UltraLente|Lantus|Novolog|Humalog|Regular|InsOth|InsOthDs|InsStable|MedAllergy|MedAllergyDs|OMedCond|OMedCondDs|EligVer|EduCareGvr1|EduCareGvr1a|OthCareGvr|EduCareGvr2|EduCareGvr2a|PEExamDt|weight|Height|BMI|BMIPerc|PEAbn|PEAbnDs|PubicH|BreGen|HbA1CDt|HbA1C|SymHypoEx|TotLongAct|InsBedtime
pattern=&Y/&M/&D &h:&m:&s
file_type=csv

[ultra_exercise]
filename=DirecNetInPtExercise/DirecNetInPtExercise/DataTables/tblDDataUltra.csv
column=RecID|PtID|DCRCAdmType|BGType|ResultDate|ResultTime|ResultValue1
select_column=|patient_id|exercise_status|BGType|date|timestamp|exercise_gl
pattern=&Y-&M-&D &h:&m:&s
file_type=csv

[freestyle_exercise]
filename=DirecNetInPtExercise/DirecNetInPtExercise/DataTables/tblDDataFreestyle.csv
column=RecID|PtID|DCRCAdmType|BGType|ReadingDtTm|ResultValue1
select_column=|patient_id|exercise_status|BGType|datetime|exercise_gl
pattern=&Y-&M-&D &h:&m:&s
file_type=csv
